
.paragraph1{
    margin: auto;
    font-family: monospace;
    width: 1000px;
    overflow: hidden; /* 避免長方框下面顯示不正常 */
}
.picture1{
    width: 300px;
    float:left; /* 圖片在左邊 */
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
}
.picture1 img{
    width:100%;
}
.txt{
    float:left;
    font-family: monospace;
    width: 500px;
    padding-top: 50px;
}
.paragraph2{
    margin: auto;
    font-family: monospace;
    width: 1000px;
    background-color:antiquewhite;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.time{
    margin: 0 auto;
    text-align: center;
}


a:link    {color:blue;}
a:hover   {color:red;}
